{#// /extends my main page which contains navbar footer ....etc*/#}
{% extends 'base.html.twig' %}
{% block body %}
    {# Header Page title #}
    <h1 class="text-center">Welcome To Article details Page
    </h1>
        <div class="card p-4">
            <div class="card-header">
                <h3>{{ article.title }}</h3>
            </div>
            <div class="card-body">
                <img src="{{ article.image }}" />
            </div>
            <div class="card-body">
                <p>{{ article.detail | raw}}</p>
            </div>
            <hr>
            <strong>
                Created :
                {{ article.createdAt | date('Y/m/d') }}
                At :
                {{ article.createdAt |  date('H:i')}}</strong>

        </div>

{% endblock %}